.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* =========================== */

/* .footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black;
  position: absolute;
  top: 100%;
}
.footer h1 {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
} */

.contenu {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 50%;
}

/*================================= */

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  justify-content: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.card-img-top {
  padding-top: 13px;
  height: 6cm;
  margin-bottom: 5px;
}

.ant-pagination {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 20px;
}
/* =========================== */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
